*{ padding: 0;	margin: 0; }


/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	.navbar {
	  width: 100%;
	  height: auto;
	  position: fixed;
	  background-color: #fff;
	  box-shadow: 0px 1px 1px 0px 1px 1px #d9d9d9;;
	  z-index: 1009999;
	  top: 0;
	  padding-top: 12px;
	}
	.navbar-light .navbar-brand {
	  	color: #000;
	  	font-size: 1rem;
   		margin-left: 11px;
	}
	.navbar-light img {
		margin-top: -3px;
	    width: 1.62rem;
		height: 1.3rem;
	}
	button:focus:not(:focus-visible){ 
	   background: #FF6C3E;
	   color: #fff;
	   border: 0px solid #fff;
	   font-family: Poppins;
	   border: none !important;
	}
	.navbar-light .navbar-toggler {
	  color: #000;
	  border-color: transparent !important;
	  font-size: 0.6875rem;
	}
	.navbar-toggler.collapsed:hover {
	  background: #FF6C3E;
	  color: #fff;
	  border: 0px solid #fff;
	  font-family: Poppins;
	}
	.navbar-light .navbar-nav .nav-link {
	  font-size: 14px;
	    font-weight: 400;
	    padding: 0 16px;
	    line-height: 34px;
	}
	.navbar-light .nav-item {
	  border-bottom: 1px solid whitesmoke;
	  width: 100%;
	  max-width: 100%;
	  border-radius: 5%;
	}
	.hiros .carousel-caption h2 {
	  font-size: 1.30rem;
	  font-weight: 600;
	  color: #000;
	  background: transparent;
	}
	.hiros .hiross .Rent_Online {
	  font-size: 0.6875rem;
	  font-weight: 400;
	  color: #484848;
	  max-width: 70%;
	  margin-top: 0.5rem;
	  width: 100%;
	  font-family: inter;
	}
	.hiros .homeImages {
	  width: 100%;
	  height: auto;
	  object-fit: cover;
	  float: right;
	  max-width: 60%;
	  margin-right: -55px;
	  margin-top: -49px;
	}
	.hiros .carousel-caption {
	    position: absolute;
	    top: 20%;
	    left: 5%;
	    transform: translate(5% ,-20%);
	    text-align: justify;
	    align-items: center;
	    justify-content: center;
	}
	.hiros .hiro-counter .card {
	  padding: 0;
	  margin-top: 1.5rem;
	  background-color: #0000;
	  box-shadow: none;
	  border: none;
	}
	.hiro-counter .box0088 {
	    position: relative;
	    width: 100%;
	    max-width: 100%;
	    border-right: 1px solid #d5d5d5;
	    left: -116px;
	    padding-left: 117px;
	    height: 50px;
	}
	.Launching {
	  position: relative;
	  width: 100%;
	  height: auto;
	  top: 55px;
	  background-color: #EBEBEB !important;
	  padding: 0.52rem 0;
	}
	.hiros .hiro-counter .card h3 {
	  font-size: 1.4rem;
	  font-weight: 600;
	  color: #FF9900;
	  font-family: '0' sans-serif;
	  padding: 0;
	  margin: 0;
	}
	.box66 {
	    padding: 0px;
	    display: flex;
	    z-index: 2;
	    margin: 0px 9px;
	    margin-top: 8px;
	    margin-top: 0rem;
	 }
	.box66 {
	  padding-left: 0px;
	  display: flex;
	  z-index: 2;
	  margin-left: 0px;
	  margin-top: 1rem;
	}
	.Perks {
		width: 100%;
		height: auto;
		top: -5rem;
		padding: 0rem 0;
		background-color: #fff;
		background-image: linear-gradient(#fff0, #ffb49c00 , #fff0);
		z-index: 0;
	}
	.Perks h2 {
	  font-size: 1.4rem;
	  font-weight: 600;
	}
	.Perks .forms {
	  padding: 0rem 0rem 0 33px;
	  left: 0px;
	  position: relative;
	  width: 100%;
	}
	.form-control {
	  display: block;
	  width: 100%;
	  height: 45px;
	  border-radius: 8px;
	}
	.form-control .mb-3  input,
	input::placeholder {
	    font: .5rem;
	}
	/*.forms .button {
	  padding: 0.5rem 3rem 0.5rem 3rem; 
	}*/
	.product .container {
		width: 100%;
		height: auto;
		background-image: #f00;
	}

	.Organize {
		margin-top: 0px;
		padding-right: 0px;
	}
	.nav-tabs > .nav-item > .nav-link.active, .nav-tabs > .nav-item > .nav-link{
		padding: 8px 8px;
		font-size: 8px;
	}
	.btnleft{
	  border-bottom-left-radius: 8px !important;
	  border-top-left-radius: 8px !important;
	}
	.btnright{
	  border-top-right-radius: 8px !important;
	  border-bottom-right-radius: 8px !important;
	}
	.nav-item img {
	  height: 12px;
	  width: 12px;
	}
	.product .card {
	  display: flex;
	  margin-left: 68px;
	  padding-bottom: 0rem;
	}
	.reviews .das {
	  position: relative;
	  width: 4.375rem;
	  height: 2px;
	  top: -28px;
      left: 20%;
	  background-color: #FF6C3E;
	}
	.reviw {
		width: 100%;
		background-image: linear-gradient(#fff, #f6e8e4, #fff);
		margin-top: 20px;
	  	padding: 0;
	}
	.reviw .slick-slider .slick-item,
	.reviw .slick-slider .slick-item[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
	  transform: scale(0.9, 0.9);
	  transition: all 0.4s ease-in-out;
	}
	.reviw .slick-slider .slick-center,
	.slick-slider .slick-item[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
	  transform: scale(1);
	}
	.reviw .slick-slider .slick-current.slick-active{
	  transform: scale(1);
	}
	.main-container {
	  height: auto;
	  width: 100%;
	  overflow: hidden;
	  margin-top: -70px;
	  padding: 0;
	  margin-left: 4px;
	}
	.product .slick-slider {
	  margin-bottom: 00px;
	}
	.product .slick-list.draggable {
	  padding: 0px !important;
	  margin: 0;
	  height: auto;
	}
		
	.reviw .slick-slider {
	  width: 100%;
	  margin: -3px 0;
	  overflow: hidden;
	}
	.reviw .slick-item {
		margin: 0px;
		max-width: 485px;
		height: 324px;
		width: 100%;
	  	z-index: 2;
		border-radius: 10px;
		background-color: #fff;
		border: 1px solid #EBEBEB;
	}

	.reviw .slick-next {
		display: none;
		right: 0;
	}
	.reviw .slick-prev {
		display: none; 
		left: 0;
	}


	.product {
		padding: 0;
	}

	/*.product .productImg {
		position: relative;
		top: 49px;
		z-index: 2;
		left: -24px;
		width: 1.1rem;
    	height: 1.1rem;
	}*/
	.card-header .Product {
	  margin: 0 15px 0 0px;
	  position: relative;
	  top: 8rem;
	  font-size: 1.125rem;
      font-weight: 500;
	}

	
	.forms .button {
		width: 100%;
	}
	/*.tab-content {
	  margin-top: 10rem;
	}*/
	.product .container {
		padding: 5rem 0rem;
	}
	.product .das {
	  position: absolute;
	  width: 4.375rem;
	  height: 2px;
	  top: 195px;
	  left: 13px;
	  z-index: 9;
	  background-color: #FF6C3E;
	}
	.productImg1 {
	    opacity: 1;
	    position: relative;
	    left: -17px;
	    width: 49px;
	    top: -3.2rem;
	 }
	  
	.product .productImg {
	 	position: relative;
	    top: -32px;
	    z-index: 2;
	    left: 96px;
	    width: 1.1rem;
	    height: 1.1rem;
	}
	.textProdevt {
	  position: relative;
	  top: -88px;
	  left: 107px;
	}
	.product .das {
	    position: absolute;
	    width: 2.979rem;
	    height: 2px;
	    top: 152px;
	    left: -6px;
	    z-index: 9;
	    background-color: #FF6C3E;
	}
	.product .nav-tabs {
		display: flex;
	    border: 0;
	    padding: 0px 0rem;
	    margin-left: -44px;	  	
	}
	.product .card .card-header {
	  padding: 0rem 0rem;
	  margin-top: -61px;
	  margin-left: 21px;
	  z-index: 9999;
	}









	.FAQS-SECTIONS .cadhover {
	  width: 100%;
	  display: flex;
	  margin-top: -20px;
	}
	.FAQS-SECTIONS .cadhover {
	    width: 100%;
	    display: block;
	    margin-top: -0px;
	}
	.FAQS-SECTIONS .scene {
	  display: inline-block;
	  width: 100%;
	  max-height: 260px;
	  margin: 0px 0;
	  perspective: 600px;
	}
	.FAQS-SECTIONS .cadhovers {
	  width: 100%;
	  display: block;
	  margin-top: 1px;
	}




	.decorations {
	  text-decoration: line-through !important;
	}






	.product .Perks01 {
	  padding-left: 0px;
	  margin-top: 0px;
	}
	.OurCharges {
		width: 100%;
	  	height: auto;
	  	padding: 4rem 3rem 0rem 3rem;
	}
	.OurCharges .d-flex {
	  margin: 0 0px;
	  max-width: auto;
	  padding-left: 0px;
	}

	.bookings h3 {
	  	text-align: left;
	  	font-size: 1rem;
	    text-align: left;
	    width: 53%;
	}

	

}





/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
	
	#navbarNav {
		width: 100%;
	    max-width: 130px;
	    background-color: white;
	    position: absolute;
	    top: 52px;
	    right: 23px;
	    border-radius: 0.5rem;;
	    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04); 
	}
	.navbar-light .nav-item {
	    border-bottom: 1px solid #EBEBEB;
	    width: 80%;
	    max-width: 100%;
	    border-radius: 0%;
	    padding: 9px 6px;
	    margin: auto;
	    text-align: start;
	    padding-left: 0;
	}
	.navbar-light .navbar-nav .nav-link {
		color: #000;
		font-family: Inter;
		font-size: 0.6875rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-left: 0;
		padding-left: 0;
	}
	.hiros {
	  width: 100%;
	  height: 494px;
	  margin: 43px 0;
	  padding: 0rem 0;
	  background-color: #FFF0;
	}
	.carousel-inner {
	    position: relative;
	    width: 100%;
	    overflow: hidden;
	    padding: 42px 0 300px;
	  }
	.hiros .carousel-caption {
		position: absolute;
		top: 90%;
		text-align: center;
		align-items: center;
		justify-content: center;
	}	
	.hiros .carousel-caption h2 {
	    font-size: 2rem;
	    font-weight: 500;
	    color: #000;
	    background: transparent;
	}
	.hiros .hiro-counter {
	  display: flex;
	  position: relative;
	  margin-top: -1.5625rem;
	 margin-left: -22px;
	}
	.hiros .homeImages {
	    width: 100%;
	    height: auto;
	    object-fit: cover;
	    float: right;
	    max-width: 100%;
	    margin-right: 0px;
	    margin-top: -50px;
	}
	.hiros  small {
	  font-size: 36px;
	}
	.value {
	  font-weight: 600;
	  color: #FF9900;
	  font-size: 1.25rem;
	  font-family: inter;
	  margin-left: 16px;
	}
	.btnhome {
		margin-left: 0;
		margin-top: 10px;
		color: #fff;
	  	font-size: 0.6875rem;
	  	font-weight: 400;
	  	padding: 10px 25px 12px 25px;
	  	font-family: poppins;
	  	background-color: #FF6C3E;
	  	transition: .5s;
	  	border-radius: 8px;
	}
	.btnhome:hover {
		margin-left: 0;
	}

	.hiros .hiro-counter .card {
	  padding: 0;
	  margin-top: 1.4rem;
	  background-color: #0000;
	  box-shadow: none;
	  border: none;
	  margin-left: 16px 
	}
	.hiros .hiro-counter .card h3 {
		font-size: 1.3rem;
	}
	.hiros .hiro-counter .card p {
		color: #575F6E;
		font-size: .625rem;
		font-weight: 500;
		margin-top: .5rem;
		font-family: inter;
	}
	.hiros .hiro-counter .card {
	    padding: 0;
	    background-color: #0000;
	    box-shadow: none;
	    border: none;
	    margin-top: 50px;
	}
	.Rent_Online {
	    font-size: .8rem;
	    font-weight: 500;
	    color: #484848;
	    max-width: 74%;
	    text-align: center;
	    margin: auto;
	}

	.hiro-counter .box0088 {
		padding: 0 17px;
	    position: relative;
	    left: 11px;
	}

	.box008898 {
	    position: relative;
    	left: 78px;
	}
	.countertext1 {
	  margin-left: 14px;
	}
	.countertext {
		margin-left: 12px;
	}
	.hiross .carousel-caption h2 {
		font-size: 2rem;
		font-weight: 700;
		color: #000;
	}
	.hiross .carousel-caption p {
		font-size: 1;
		font-weight: 400;
		color: #000;
	}
	.brecatLeft {
	  margin-left: -46px;
	}
	.brecatLeft img {
	    height: 144px;
	    width: 13px;
	    object-fit: cover;
	 }
	
	.brecatRight{
 		margin-left: 46px;
	}
	
	.brecatRight img {
	    height: 144px;
	    width: 13px;
	    object-fit: cover;
	}
	.OurCharges {
		padding: 4rem 3rem 0rem 3rem;
	}

	.OurCharges .text088 h2 {
	    color: #FF6C3E;
	    font-size: 20px;
	    font-weight: 600;
	    margin: 2x 0px 0px 0;
	    position: relative;
	    left: -155px;
	    top: 132px;
	}
	.OurCharges .tenants .text088 h2 {
	   	color: #FF6C3E;
	    font-size: 17px;
	    font-weight: 600;
	    margin: 2x 0px 0px 0;
	    position: relative;
	    left: -6rem;
	    top: 33px;
	}
	.OurCharges .tenants .months {
		margin-left: -4.4rem;
	    margin-top: 5.4rem;
	    font-size: .9rem;
	}
	
	.text088 h3 {
		margin-top: 185px;
	    font-size: 10px;
	    font-weight: 400;
	    margin-left: -6.8rem;
	    width: 154px
	}
	.text019 p {
	    display: flex;
	    margin-left: -14px;
	    margin-top: 64px;
	}

	 .text019 .text999 {
	    text-decoration: line-through;
	    font-size: 12px;
	    font-weight: 400;
	    color: #757575;
	}
	.text019 .text18888 {
	    font-size: 10px;
	    color: #757575;
	    font-weight: 400;
	    width: 86px;
	}
	.text019 .text99 {
	    color: #FF6C3E;
	    font-size: 20px;
	    margin: -10px -4px 0px 4px;
	    font-weight: 500;
	}
	.OurCharges .text019 h3 {
	    margin-top: 87px;
	    font-size: 10px;
	    font-weight: 400;
	    margin-left: -26px;
	    width: 154px;
	  }



	.Perks {
		width: 100%;
		padding: 0px 0;
		height: auto;
		z-index: 1;
	}
	.Perks img.img0088 {
	  display: none;
	}
	.Perks .nav-tabs {
		display: flex;
	    border: 0;
	    padding: 15px 0rem;
	    margin-left: 120px;	  	
	}
	.OurCharges .text011 {
	  	width: 100%;
	    display: flex;
	    position: relative;
	    top: -15px;
	}
	.Perks img.img00889 {
	  	position: relative;
	   top: 28px;
	   z-index: 2;
	   left: 90px;
	   width: 1.1rem;
	   height:1.1rem;
	}
	.card-header {
	  margin-left: -6px;
	}
	.Perks .sters04 {
		position: relative;
	    top: -36px;
	    width: 3rem;
	    right: -6.1rem;	  
	}
	.Perks .sters055 {
		position: relative;
	    top: -36px;
	    width: 3rem;
	    right: -6.1rem;
	}


	.Perks .tab-content > .active {
	  display: block;
	  height: auto;
	}
	.container_Text {
		text-align: center;
	}
	.Perks h2 {
		text-align: center;
		color: #151515;
		font-size: 1.125rem;
		font-weight: 500;
		font-family: Poppins;
	}
	/*.mt-3 {
	  margin-top: 1.5rem !important;
	}*/
	.box66 {
		padding: 0px 10px;
		display: flex;
		z-index: 2;
		margin: 0 6px;
	}
	.reviw .slick-item {
		margin: 0px;
		max-width: 485px;
		height: 263px;
		width: 100%;
	  	z-index: 2;
	  	padding: 10px;
		border-radius: 10px;
		background-color: #fff;
		border: 1px solid #EBEBEB;
	}
	.reviw .boxSlider h3 {
		margin-left: 19px;
   		margin-top: 10px;
	}

	.reviw .boxSlider {
	  position: absolute;
	  width: 100%;
	  top: 37%;
	  left: 50%;
	  transform: translate(-50%,-37%);
	  padding: 10px;
	}
	.reviw .cad img.card-img-left.example-card-img-responsive {
		width: 45px;
	  height: 45px;
	  object-fit: cover;
	  border-radius: 50%;
	  margin-left: 15px;
	}
	.product .home {
		width: 1.5625rem;
		height: 1.5625rem;
	}
	.product .home1 {
		width: 1.5625rem;
		height: 1.5625rem;
		margin-top: 8px;
    	margin-left: 0px;
	}
	.card-body h4 {
		margin-top: 7px;
		font-family: Poppins;
		color: #151515;
		font-family: Poppins;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
	}
	.product .Perks01 p {
		color: #6B7280;
		font-family: Inter;
		font-size: 0.625rem;
		font-style: normal;
		font-weight: 400;
	}
	.reviw p {
	  margin-top: 10px;
	  font-family: inter;
	  font-size: 12px;
	}
	.Perks01 p {
		color: #6B7280;
		font-family: Inter;
		font-size: 0.625rem;
		font-weight: 400;
	}
	.fonmDetails .form-box input {
	  margin: 10px 0;
	}
	.fonmDetails .inputTotal {
	  position: absolute;
	  width: 100%;
	  top: 77%;
	  
	}
	.box66 .migs {
	  margin-top: -1.5rem;
	  width: 1.5625rem;
	  height: 1.5625rem;
	  margin-top: 11px;
	  padding: 0;
	}
	.Perks01 {
	  margin-left: 0;
	}
	.Perks .form-hom {
	  width: 100%;
	  height: auto;
	  padding: 3rem 2rem 1rem !important;
	  overflow: hidden;
	  z-index: 0;
	  background-image: linear-gradient(to right, #ffb49c1f , #fff);
	  box-shadow: 0px 1px 1px #bbbbbb52;
	  top: -70px;
	  position: relative;
	  border-top: 1px solid #e8eaec;
	  border-bottom: 32px solid #e8eaec;
	}
	.Perks .form-hom .EarlyAccess {
	 	margin-left: 0px;
		text-align: left;
	    font-size: 1.125rem;
	    font-weight: 500;
	    font-family: Poppins;
	  	color: #000000;
	}
	/*.Perks .form-hom .EarlyAccess {
	 	margin-left: -7rem;
	  	margin-top: 1rem;
	 	font-size: 1.4rem;
    	font-weight: 600;
	  	color: #000000;
	}*/
	.Perks .form-hom .sters07 {
		display: none;
	}
	.Perks .form-hom p {
	  color: #6B7280;
	  font-size: 0.75rem;
    	font-weight: 400;
    	font-family:  inter;
	  margin-left: 0;
	  margin-top: 0.60rem;
	}
	.Perks .forms {
	    padding: 0rem 0rem 0 0px;
	    left: 0px;
	    position: relative;
	    width: 100%;
	    top: -1.3rem;
	}
	.Perks .form-hom .sters06 {
	  width: 30px;
	    height: 30px;
	    position: relative;
	    top: -7px;
	    opacity: 100%;
	    left: -24px;
	}
	
	.Launching li {
	    font-size: calc(1.125rem * var(--smaller));
	    font-size: 0.6875rem;;
	}
	  #hours {
	  	500;
	  }
	#days, #minutes ,#seconds, {
	  font-weight: 700;
	}
	.reviews {
	    width: 100%;
	    background-image: linear-gradient(#fff, #f6e8e4, #fff);
	    background-color: #ffff;
	    padding: 0px 0;
	    margin-top: -100px;
	    z-index: 9999;
	    position: relative;
	    boeder-bottom: 1px solid #bbbbbb52;
	  }
	 .reviews h2 .reviewssters {
	  	position: relative;
	    margin-top: 2rem;
	    margin-left: 0.5rem;
	  }
	.reviw {
	    width: 100%;
	    background-image: linear-gradient(#ffffff38, #f6e8e4, #fff);
	    margin-top: 20px;
	    padding: 0;
	    boeder-bottom: 35px  solid #bbbbbb52;
	}
	.Reviews-form {
		 font-size:  1.125rem;;
	    font-weight: 500;
		  font-family: poppins;
		  width: 100%;
		  margin-top: 16px;
		  padding: 0;
		  margin-left: -18px;
		  color: #151515;

	}
	
	.OurCharges .nav-tabs {
		display: flex;
	  	border: 0;
	  	padding: 15px 6.8rem;
	}
	.OurCharges .Charges {
	   font-size: 18px;
	    font-weight: 500;
	    margin-left: -43px;
	    margin-top: -0.5rem;
	}
	.OurCharges .sters055 {
		display: none;
	}
	.OurCharges img.sters0555 {
	   position: relative;
	    width: 35px;
	    top: -69px;
	    left: 14px;
	    transform: rotate(81deg);
	}
	.bookings h3, .bookingss h3 {
	    text-align: left;
	  	font-size: 10px;
	  	font-weight: 500;
	  	color: #757575;
	    width: 100%;
	}
	.OurCharges .das {
		position: absolute;
	    width: 3.075rem;
	    height: 2px;
	    top: 75px;
	    left: 29px;
	    z-index: 9;
	    background-color: #FF6C3E;
	}
	  .OurCharges .d-flex {
	    margin: 0 0px;
	    width: 100%;
	    padding-left: 0px;
	    position: relative;
	    max-width: 50%;
	    top: -50px;
	    left: 117px;
	  }
	  .OurCharges .text019 {
		margin: 0 0px;
		padding-left: 0px;
	 	position: relative;
		max-width: 100%;
		top: -50px;
		left: 0px;
	  
	  }
	  .tenants {
	  display: flex;
	  width: 100%;
	  max-width: 100%;
	  align-content: left;
	  align-items: center;
	  margin-left: 0px;
	  margin-top: 38px;
	}
	  .OurCharges .tenants .text09 h4 {
		  	color: #757575;
		    font-size: 13px;
		    margin-top: -27px;
		    left: -46px;
		    position: relative;
		}


		.decorations {
		  text-decoration: line-through !important;
		}
		.OurCharges .text09 h2 {
		    color: #FF6C3E;
		    font-size: 20px;
		    font-weight: 600;
		    margin: 0x 0px 0px 0;
		    position: relative;
		    left: -95px;
		    top: 65px;
		}

		.OurCharges .tenants .text09 h2 {
		   color: #FF6C3E;
		    font-size: 17px;
		    font-weight: 600;
		    position: relative;
		    left: -43px;
		    top: -37px;
		}
		.tenants  .text09 h3 {
		    display: block;
		    position: absolute;
		    top: 24px;
		    font-size: .9rem;
		    left: -69px;
		}

		.OurCharges .tenants .text088 h4 {
		  	color: #757575;
		    font-size: 15px;
		    top: 13px;
		    position: relative;
		    left: -6.2rem;
		}
		.OurCharges .tenants .brecatLefts img {
		  height: 158px;
		  width: 14px;
		  object-fit: cover;
		  margin-top: -10px;
		  margin-left:-85px;
		}
		.OurCharges .tenants .brecatRights img {
		  height: 158px;
		  width: 14px;
		  object-fit: cover;
		  margin-top: -10px;
		  margin-left: 13px;
		}
		.brecatLeftssss {
		  margin-left: -50px;
		}
		.brecatRightsss {
		  margin-left:  -60px;
		}	
		.text092 {
		    margin-top: -87px;
		    margin-left: 0px;
		}
		.text092 p {
		    display: flex;
		    margin-left: 20px;
		    margin-top: 45px;
		}
		.tenants .text092 .monthss {
		    margin-top: -15px;
		    font-size: 10px;
    		font-weight: 400;
		    left: 0px;
		    text-align: center;
		    width: 130px;
		    margin-left: 30px;
		}
		.text0888 .monthss {
		  margin-top: 99px;
		  font-size: 1rem;
		  margin-left: -38px;
		  font-size: 10px;
   			 font-weight: 400;
		}

		.OurCharges .text088 h4 {
		  color: #757575;
		  font-size: 15px;
		  top: 127px;
		  position: relative;
		  left: -212%;
		}
		.text0888 {
		    display: flex;
		    float: right;	
		    width: 50%;	  
		}
		.text0888 p {
		   	display: flex;
		    margin-left: -148px;
		    margin-top: 79px;

		}
		
		.text0888 h3 {
		    margin-top: 98px;
		    font-size: 10px;
		    font-weight: 400;
		    margin-left: -127px;
		    width: 176px;
		}

	.OurCharges .text-wrapper {
	  margin-left: 0px;
	  transform: rotate(-180deg);
	  font-family: Poppins;
	  font-weight: 400;
	  color: #757575;
	  font-size: 96px;
	  line-height: 82.1px;
	  white-space: nowrap;
	  position: relative;
	  width: fit-content;
	  margin-top: 18px;
	  letter-spacing: -30px !important;
	}

	.brecat img {
	    height: 185px;
	    object-fit: cover;
	    width: 16px;
	}
	.text09 h3 {
	  	display: block;
	    position: absolute;
	    top: 55px;
	    font-size: .9rem;
	    left: -7.3rem;
	}
	.bookings {
	    margin-left: -37px;
	    margin-top: 0;
	    position: relative;
	    top: 5rem;
	    width: 45%;
	    padding: 0;
	}
	.bookingss {
	    padding-left: 0px;
	    margin-left: -37px;
	    margin-top: 0;
	    position: relative;
	    top: 0rem;
	    width: 39%;
	}
	.Perks .form-hom #sters05 {
		position: relative;
		top: -1.99.8rem
		width: 25px;
		height: 12px;
    	width: 12px;
	}
	.Perks .form-hom .btns {
		padding: 0.3rem 0.3rem;
	    font-size: 0.6rem;
	    border-radius: 5px;
	    margin-left: -19px;
	    font-family: poppins;
	}
	.OurCharges .text019 h4 {
	  color: #757575;
	  font-size: 15px;
	  margin-top: 44px;
	  left: -0px;
	  position: relative;
	}
	.OurCharges .text019 h2 {
	  	color: #FF6C3E;
	  	font-size: 15px;
	  	font-weight: 600;
	  	margin: 6px 0px 0px 3px;
	    position: relative;
	    left: 4px;
    	top: 39px;
	}

	 .text09 {
	    display: flex;
	    float: left;
    	margin-top: -87px;
	  }
	  .text088 {
	    display: flex;
	    float: left;
	    margin-top: -87px;
	  }
	   .text088 p {
	    display: flex;
	    margin-left: -103px;
	    margin-top: 164px;
	  }
	   .tenants .text09 h3 {
	    margin-top: 58px;
	    font-size: 10px;
	    font-weight: 400;
	    left: -80px;
	    text-align: center;
	    width: 130px;
	  }
	  .tenants .text09 .monthss {
	    display: block;
	    position: absolute;
	    top: 15px;
	    font-size: .9rem;
	    left: -61px;
	    text-align: center;
	  }
	   .text088 {
	    display: flex;
	    float: right;
	  }
	 .Box {
	 	margin: 0;
	 }
	 .FAQS-SECTIONS .FAQS-text {
	 	font-size: 1.125rem;
    	font-weight: 500;
    	margin-bottom: 20px;
    	font-family: Poppins;
	 }
	 img.img-fluid.image4 {
	  margin-top: -20px;
	}
	.FAQS-SECTIONS .Boxsss .Box2 {
		display: inline-block;
	    width: 47%;
	    margin: 0 3px;
	}
	.FAQS-SECTIONS  .Boxsss .Box3 {
		display: inline-block;
	    width: 47% !important;
	    margin: 0 3px;
	}
	.FAQS-SECTIONS  .Boxsss .Box32 {
		float: left;
	    width: 47%;
	    margin: 0 5px 0;
	}
	.FAQS-SECTIONS  .Boxsss .Box33 {
		float: left;
	    width: 47%;
	    margin: 0 3px;
	}
	

	.FAQS-SECTIONS .Boxsss .Box42 {
		float: left;
	    width: 47%;
	   	margin: 0 3px 0;
	}
	.FAQS-SECTIONS .Boxsss .Box43 {
		float: right;
	    width: 47%;
	   margin: 0 6px 0;
	}




	.text09 p {
		display: flex;
		margin-left: -60px;
		margin-top: 10px;
	} 
	.tenants .text999 {
	  text-decoration: line-through;
	  font-size: 12px;
	  font-weight: 500;
	  color: #727272;
	  margin-top: -5px;
	}
	.tenants .text99 {
	  	color: #FF6C3E;
	    font-size: 20px;
	    margin: -10px 0px 0px 9px;
	    font-weight: 500;
	}
	.tenants .text092 .text99 {
	  	color: #FF6C3E;
	    font-size: 20px;
	    margin: -10px 0px 0px 9px;
	    font-weight: 500;
	}
	.text0888 p {
	    display: flex;
	    margin-left: -157px;
	    margin-top: 79px;
	  }
	.tenants .text18888 {
		font-size: 10px;
		font-weight: 400;
	  	color: #757575;
	  	font-weight: 500;
	  	width: 86px;
	}
	.tenants .text0888 .text18888 {
		font-size: 10px;
		font-weight: 400;
	  	color: #757575;
	  	font-weight: 500;
	  	min-width: 66px;
	}
	.tenants .text0888 .text99 {
	    color: #FF6C3E;
	    font-size: 20px;
	    margin: -10px 0px 0px 9px;
	    font-weight: 500;
	  }

	.scene .card__face--front h3 {
	  font-size: 0.625rem;
	  position: absolute;
	  left: 1.25rem;
	  bottom: 2rem;
	  text-align: left;
	  width: 72%;
	  font-weight: 500;
	  color: #757575;
	}
	.scene .card__face--back h3 {
	  font-size: 0.625rem;
	  /* position: absolute; */
	  left: 2rem;
	  bottom: 2rem;
	  text-align: left;
	  width: 72%;
	}

	.main-container {
	    height: auto;
	    width: 100%;
	    overflow: hidden;
	    top: -31px;
	    padding: 0;
	    margin-left: -26px;
	    position: absolute;
	    height: auto;
	    z-index: 1;
	}
	.container_icones {
		height: auto;
	    width: 100%;
	    overflow: hidden;
	    top: 92px;
	    padding: 0;
	    margin-left: -26px;
	    position: absolute;
	    height: auto;
	    z-index: 1;
	}
	.img-fluid.iconesprofiles {
	  margin-top: 10px;
	  margin-left: 0;
	  padding-left: 5px;
	  width: 1.5625rem;
      height: 1.5625rem;
	}
	.files {
		margin-top: 1.1rem !important;
	}
	.iconesp {
	  margin-left: 6px !important;
	}
	.nav-container {
	    width: 100%;
	    margin: 235px 0 0 -40px;
	    height: 229px;
	    padding: 0;
	    z-index: 2;
	}
	.nav-container .slick-current {
	  border-radius: 0.625rem;
	}
	.product .Organizeimg  {
		width: 100%;
	    height: 261px;
	    object-fit: contain;
	  
	}



	/* footer section start */
	.footer-section {
	  background: #FFE3D945;
	  position: relative;
	  padding: 33px 20px;
	}
	.footer-logo h3 {
	    font-size: 1.125rem;
	    width: 142px;
	    font-weight: 500;
	    line-height: 25px;
	}
	.footer-logo small {
	  color: #FF6C3E;
	  font-size: 1.225rem;
	}
	.footer-text p {
	    margin-bottom: 14 px;
	    color: #757575;
		font-family: Inter;
		font-size: 0.6875rem;
		font-weight: 400;
	}
	.footer-text {
	  margin-top: -8px;
	}

	.subscribe-form {
	  position: relative;
	  overflow: hidden;
	  padding-right: 100px;
	  border-radius: 10px;
	}
	.subscribe-form input {
	    width: 100%;
	    background: #fff;
	    border: 1px solid #c4c4c4;
	    border-radius: 10px;
	    color: #717171;
	    font-family: Poppins;
	    font-size: 0.6875rem;
	    font-style: normal;
	    font-weight: 400;
	    line-height: normal;
	  }

	.subscribe-form button {
	    position: absolute;
	    right: 0;
	    background: #ff5e14;
	    border: 1px solid #ff5e14;
	    top: 1px;
	    right: 11px;
	    color: #fff;
	    border-radius: 12px;
	    transition: .5s;
	    font-size: 0.625rem;
	    padding: 1.2rem 2rem;
	  }
	   .footer_contain_menu {
	    width: 33%;
	    margin-top: 19px;
	  }
	  .footer-widget-heading h3 {
		  	color: #000;
			font-family: Poppins;
			font-size: 0.6875rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		   position: relative;
		}
		.footer-widget-heading h3::before {
		  content: "";
		  position: absolute;
		  left: 0;
		  bottom: -3px;
		  height: 2px;
		  width: 23px;
		  background: #FF6C3E;
		}
		.footer-widget ul {
		  list-style-type: none;
		  padding: 0;
		  margin-top: -19px;
		  color: #474747;
		  font-family: Poppins;
		  font-size: 0.6875rem;
		  font-style: normal;
		  font-weight: 400;
		}
		.footer-widget li a {
		  display: block;
		  width: 100%;
		  text-decoration: none;
		  color: #474747;
		  font-family: Poppins;
		  font-size: 0.6875rem;
		  font-style: normal;
		  font-weight: 400;
		}


		/* Become_a_host_Form section start */
		.indecaters {
			width: 100%;
			height: auto;
			margin-top: 0rem;
			padding: 0px 0 430px;
		}
		.fonmDetails {
			width: 100%;
			height: auto;
			margin-top: 0rem;
			padding: 0px 0 430px;
			z-index: 1;
		}
		/*#fonmDetailsforms {
		  width: 100%;
		  height: auto;
		  margin-top: 0rem;
		  padding: 0px 0 130px;
		}*/
		
		.nav-tabs {
		    display: flex;
		    width: 100%;
		    padding-left: 0px;
		    padding-right: 0px;
		    text-align: center;
		}
		  
		#indeBtn {
			padding-left:  1.3rem;
		}
		.indecaters .nav-item label {
		  display: flex;
		  padding: 0;
		  margin: 0 1px 0 0;
		}
		.indecaters .container .das2 {
		   position: relative;
		    width: 1.4rem;
		    height: 1.5;
		    top: 11px;
		    left: 1%;
		    margin: 0 4px;
		    background-color: #B9B9C3;
		  }
		.indecaters .bacImg {
		  position: absolute;
		  width: 100%;
		  max-height: 0;
		  top: 0px;
		  left: 0;
		  background-image: url('..//images/Ellipse20.png');
		  background-repeat: no-repeat;
		  background-size: revert-layer;
		  z-index: -1;
		}
		.indecaters .nav-item a p {
		  margin-top: 0;
		  margin-bottom: 1rem;
		  margin-left: 8px;
		  font-size: 0.75rem; 
		}
		.fonmDetails .inputAddresPin {
		  position: absolute;
		  width: 100%;
		  top: 100%;
		  padding: 0;
		  margin: 0px;
		  z-index: 1;
		}
		.fonmDetails .becomeheat {
			color: #151515;
			font-family: Poppins;
			font-size: 1.25rem;
			font-style: normal;
			font-weight: 500;
			line-height: 2.25rem;
			margin-top: -26px;
		}
		
		#form1 {
			margin-top: -26px;
		}
		.fonmDetails .become {
			width: 16.8125rem;
		  	color: #575F6E;
			font-family: Inter;
			font-size: 0.6875rem;
			font-style: normal;
			font-weight: 300;
			line-height: 0.8125rem; /* 118.182% */
		}
		.fonmDetails .form-label {
		  	margin-bottom: 0.5rem;
		  	color: #151515;
			font-family: Inter !important;
			font-size: 0.625rem; 
		  	font-weight: 400;
		  	color: #151515;
		}
		.fonmDetails .form-control {
		  	width: 100%;
		 	height: 3.375rem;
			align-items: center; 
			font-size: 0.625rem; 
			color: #D0D0D0; 
			border-radius: 0.5rem;
			border: 1px solid #DEDEDE; 
		}

		.fonmDetails .form-box {
		  position: relative;
		  z-index: 99999;
		  margin-top: 202px;
		}

		.Typical {
		  display: flex;
		  margin-top: 42px;
		  text-align: center;
		}
		.fonmDetails .form-box {
		    position: relative;
		    z-index: 99999;
		    margin-top: 214px;
		}
		.fonmDetails .inputAddres {
			position: absolute;
			width: 100%;
			top: 108%;
		}
		.fonmDetails button {
			position: absolute;
		    top: 216%;
		    font-family: Poppins;
		    font-size: 0.6875rem;
		    right: 12px;

		}


		.Amenities {
		  display: flex;
		  margin: 8px 0px;
		  max-width: 32%;
		}
		.Amenitiess  {
		  display: flex;
		  margin: 4px 0px;
		  max-width: 32%;
		}
		.Amenities label {
			margin-top: 10px;
		}
		.form-labels.pb-3 {
		  margin-top: 2px;
		}
		.Amenitiess {
		  display: flex;
		  margin: 4px 0px;
		  max-width: 23%;
		}
		.PinCode {
		  position: absolute;
		  width: 100%;
		  top: 98%;
		  left: -11px;
		}
		.row.pt-3.b333, .row.pt-3.m888885, .row.pt-3.mt9, .row.m9966, .row.p-0.mt-4.m99,  {
		  margin-top: -10px;
		}
		.row.pt-3.b333 {
		  margin-top: -10px;
		}
		.row.pt-3.m888885 {
		  margin-top: -10px;
		}
		.row.pt-3.mt9 {
		  margin-top: -10px;
		}
		.m999 {
		  margin-top: -0px !important;
		}


		  .Water {
		    position: relative;
		    z-index: 2;
		    margin-top: 36px;
		}
		  .form-labels1 {
		    font-size: 0.625rem;
		    font-weight: 400;
		    margin-top: -10px;
		  }
		  .mt-5 {
			  margin-top: 0px !important;
		}
		 .Amenities label {
		    margin-top: 3px;
		    margin-left: 5px;
		    font-family: Inter !important;
		    font-size: 0.625rem;
		    font-weight: 400;
		}
		.form-labels.pb-3 {
			 font-size: 0.625rem;
		    font-weight: 400;
		     margin-left: 5px;
		}
		.form-labelss {
			font-size: 0.625rem;
		    font-weight: 400;
		    margin-top: -22px;
		    margin-left: 5px;
		}
		.form-labels1 {
			font-size: 0.625rem;
    		font-weight: 400;
    		margin-top: -17px;
		}
		
		.m9966 {
		  margin-top: -10px;
		}
		.m99 {
		  margin-top: -0px !important;
		}
		.fonmDetails .PinCode551 {
		  position: relative;
		  margin-top: 0px;
		  z-index: 0;
		}
		.m995 {
		  margin-top: -10px;
		}
		/*.PinCode553 {
		  margin-top: 12px;
		}
*/
		/*.fonmDetails .PinCode551 {
		  position: relative;
		  margin-top: 1%;
		  z-index: 0;
		}
*/
		.fonmDetails .PinCode552 {
		  z-index: 99;
		  margin-top: 16px;
		  position: relative;
		}
		.fonmDetails .PinCode553 {
		  position: relative;
		  margin-top: 4%;
		  z-index: 999;
		}
		.col-12.col-sm-12.col-ms-6.col-xxl-4.col-lg-4.PinCode552 {
			margin-top: 5px;
		}
		.Amenities05 {
		  display: flex;
		  margin-top: -14px;
		  max-width: 32%;
		} 
		.Amenities.Amenities06 {
		  margin-top: -39px;
		}

		.fonmDetails .button66 .btn6s {
			top: 82px;
		    font-family: Poppins;
		    font-size: 0.6875rem;
		}		
		.p99 {
		  margin-top: -0px !important;
		}
		.row.mt-4.p999, .row.p-0.mt-4.p9988, .row.mt-4.p997 {
		  margin-top: -0px !important;
		}
		.p9909 {
			margin-top: -33px !important;
		}
		.p999999 {
		  margin-top: 25px !important;
		}
		.Typical {
		    display: flex;
		    margin-top: 53px;
		    text-align: center;
		}

		.fonmDetails img.img008899 {
		  position: relative;
		  top: 6px;
		  z-index: 2;
		  left: 7px;
		}

		.OurCharges .card-body .containers, .card .card-header {
		  padding: 0px 1rem;
		}


		.col-12.col-sm-12.col-ms-6.col-xxl-4.col-lg-4.p-xxl-0.mr-5.ml-2, .col-12.col-sm-12.col-ms-6.col-xxl-4.col-lg-4.p-xxl-0.mr-5 {
		  margin-left: 10px;
		}
}		





/*mall devices (landscape phones, 576px and up)*/

@media (min-width: 576px) { 

}









