*{ padding: 0;	margin: 0; }


Body {
  font-family: Poppins;
  background: transparent;
}
.navbar .img-fluid {
  max-width: 100%;
  height: auto;
  padding: 0px 0px 0 0;
}
.navbar {
  width: 100%;
  height: auto;
  position: absolute;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 1px 1px #e8eaec;
  z-index: 1009999;
  top: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 0 16px; 
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #FF6C3E;
}
.navbar-light  img {
  margin-top: -6px;
}
/*@mdia(max-width:720px){
  #navbarNav{
     width:300px;
     background-color:orange;
  }
}*/

.navbar-brand {
  padding-top: 0.313rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.42rem;
  text-decoration: none;
  white-space: nowrap;
}


.Menus a {
  text-decoration: none;
  color: #000;
}






/*
.navbar .img-fluid {
  max-width: 100%;
  height: auto;
  padding: 0px 7px 0 0;
}

.navbar {
  width: 100%;
  height: auto;
  position: fixed;
  background-color: #fff;
  z-index: 1009999;
  top: 0;
}

.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0px 1px 1px #e8eaec;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 0 16px; 
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #FF6C3E;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 25px;
}*/
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    margin-left: 0px;
}
.Launching {
  position: relative;
  width: 100%;
  height: auto;
  top: 61px;
  background-color: #EBEBEB !important;
  padding: 0.52rem 0;
}


.Launching ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  margin: auto;
  padding: .2rem 0;
}
 
    .Launching li {
      font-size: 1.2em;
      list-style-type: none;
      padding: 0em 0px;
      margin-top: 0px;
      margin-left: 5px;

    }

    .Launching li span {
      font-size: 1.1rem;
      top: 0px;
      margin-left: 0px;
      position: relative;
    }

    .Launching .emoji {
      display: none;
      padding: 1rem;
    }

    .Launching .emoji span {
      font-size: 4rem;
      padding: 0 .5rem;
       border: 0px solid red;
   }

    @media all and (max-width: 768px) {
      .Launching h1 {
        font-size: calc(1.5rem * var(--smaller));
      }
      
      .Launching li {
        font-size: calc(1.125rem * var(--smaller));
      }
      
      .Launching li span {
        font-size: calc(3.375rem * var(--smaller));
      }
    }
#countdown {
  margin: auto;
}

.hiros {
  width: 100%;
  height: auto;
  margin: 64px 0;
  padding: 0;
  background-color: #FFF0;
}
.carousel {
	width: 100%;
	height: auto;
	z-index: 999;
}
.carousel-caption small {
	color: #ff7145;
}

.hiros .carousel-caption {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(4% ,-50%);
  text-align: justify;
  align-items: center;
  justify-content: center;
}

.hiros .carousel-caption h2 {
  font-weight: 600;
  color: #000;
  background: transparent;
}
.hiros .carousel-caption p {
	font-size: 1rem;
  font-weight: 500;
  color: #484848;
}

.hiros .hiro-counter {
	display: flex;
	position: relative;
	margin-top: -2rem;
}
.hiros .homeImages {
  width:  100%;
  object-fit: cover;
  float: right;
  max-width: 65%;
  margin-right: -55px;
  margin-top: -19px;
}
/*
.hiros .homeImages {
  width:  28.6875rem;
  height: 22.1875rem;
  object-fit: cover;
  float: right;
  max-width: 65%;
  margin-right: -55px;
  margin-top: -19px;
}*/


/* Style the counter cards */
.hiros .hiro-counter .card {
	padding: 0;
	margin-top: 3rem;
  background-color: #0000;
  box-shadow: none;
  border: none; 
}
.hiros .hiro-counter .card h3 {

	font-size: 1.875rem;
	font-weight: 600;
	color: #FF9900;
	font-family: '0' sans-serif;
	padding: 0;
  margin: 0;
}
.hiros .hiro-counter .card p {
	color: #575F6E;
	font-size: 1rem;
  font-weight: 500;
	margin-top: 0.25rem;
	font-family: inter ;
}

.hiro-counter .box0088 {
  position: relative;
  width: 100%;
  max-width: 100%;
  border-right: 1px solid #d5d5d5;
  left: -102px;
  padding-left: 102px;
  height: 64px;
}

.box008898 {
  margin-left: -79px;
}

.value {
  font-weight: 600;
  color: #FF9900;
  font-size: 20px;
}
.btnhome {
	color: #fff;
	font-size: 0.875rem;
	font-weight: 400;
	margin-top: 0rem;
	padding: 10px 25px 12px 25px;
	font-family: poppins;
	background-color: #FF6C3E;
  transition: .5s;
  border-radius: 10px;
  margin-left: -49px;
}
.btnhome:hover {
  transform: scale(1.1);
  color: #fff;
  margin-left: 5px;
  margin-left: -49px;
}




/*  Perks  section */

.Perks {
  width: 100%;
  height: auto;
  top: -7rem;
  padding: 0rem 0;
    /* background-color: #fff; */
  background-image: linear-gradient(#fff0, #ffb49c00 , #fff0);
  z-index: 999;
}

.Perks p {
  margin-top: 50px;
}


.category {
    text-transform: capitalize;
    font-weight: 700;
    color: #9A9A9A;
}

.nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
}
.card {
	border: none;
}
.nav-tabs>.nav-item>.nav-link {
  background-color: #ffffff;
	border: 1px solid #E5E7EB;
	padding: 8px 10px;
	color: #000;
  margin: -0px;
  border-radius: 0;
  box-shadow: 0px 2px 4px #c1c1c157;
}
.btnleft{
  border-bottom-left-radius: 8px !important;
  border-top-left-radius: 8px !important;
}
.btnright{
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.Perks .nav-tabs {
    border: 0;
    padding: 15px 0rem;
}
.nav-tabs>.nav-item>.nav-link:hover {
  color: #000;
}
.nav-tabs>.nav-item>.nav-link.active {
	background-color: #FFF8F5;
	border: 1px solid #FF6C3E;
	padding: 8px 10px;
	margin-left: -2px;
  box-shadow: 0px 2px 4px #c1c1c157;
}


.nav-tabs>.nav-item>.nav-link i.now-ui-icons {
  font-size: 14px;
  position: relative;
  top: 1px;
  margin-right: 3px;
}
.card .card-header {
  background-color: transparent;
  border-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}
.Perks img.img00889 {
    position: relative;
    top: 45px;
    z-index: 2;
    left: 37px;
}

.Perks img.img0088 {
  position: relative;
  top: 32px;
  left: 245px;
  z-index: 2;
  height: 43px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {

    .nav-tabs {
        display: inline-block;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }

    .nav-tabs .nav-item>.nav-link {
        margin-bottom: 5px;
    }
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 0rem; 
}
.Perks .card-body .containers, .card .card-header {
  padding: 0rem 5rem;
}
.Perks .sters05 {
  position: relative;
  right: -0px;
  top: -46px;
  float: right;
}


.Perks .form-hom {
	width: 100%;
	height: auto;
	padding: 3rem 4rem 0rem !important;
	overflow: hidden;
	z-index: 0;
	background-image: linear-gradient(to right, #ffb49c1f , #fff);
	box-shadow: 0px 1px 1px #bbbbbb52;
  top: -33px;
  position: relative;
/*  border-top: 1px solid #e8eaec;*/
}
.fonmDetails .form-control {
  color: #D0D0D0;
  font-family: Inter;
  font-size: 0.7375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*.mr-5{
    margin-left: -10px;
  }
.col-12.col-sm-12.col-ms-6.col-xxl-4.col-lg-4.p-xxl-0.mr-5.ml-2 {
  margin-left: -10px;
}*/
.form-control {
  display: block;
  width: 80%;
  height: 50px;
  border-radius: 8px;
}

.Perks h2 {
    font-size: 2rem;
    font-weight: 600;
} 

.Perks .sters04 {
	position: relative;
  right: -119px;
  top: -54px;
  float: right;
  z-index: 2;
  transform: rotate(352deg);
}
/*.Perks .sters05 {
	position: relative;
  right: -27px;
  top: -54px;
  float: right;
  z-index: 2;
  transform: rotate(352deg);
}*/
.imagester {
  position: relative;
  right: 50px;
  bottom: 87px;
  float: right;
  z-index: -1;
}
.imagester img {
	z-index: 0;
}
.Perks .form-hom .row {
	position: relative;
	opacity: 100%;
}

.sters06 {
	position: relative;
	opacity: 100%;
	opacity: 100%;
}
.Perks .form-hom .sters06 {
  width: 50px;
  height: 50px;
  position: relative;
  top: -4px;
  opacity: 100%;
  left: -62px;
}
.Perks .form-hom .sters08 {
  position: relative;
  top: 50px;
  left: 200px;
}
/*.Perks form {
    float: right;
}
*/
.Perks .form-hom .btns {
    padding: 0.4rem 0.6rem;
    color: #000;
    width: auto;
    font-size: .97rem;
    background-color: #FFF1DB;
    border: 1px solid #FF9900;
    pointer-events: none;
}
.Perks .form-hom .btns img {
	margin: 0rem 0.094rem;
	padding: 0;
	margin-top: -0.2rem;
}

.Perks .form-hom #sters05 {
	position: relative;
	top: -1.5rem;
	width: 25px;
}
.Perks .form-hom .EarlyAccess {
	margin-left: 2rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
}
.Perks .form-hom p {
	color: #6B7280;
	font-size: 1.2rem;
	margin-left: 2rem;
  margin-top: 0.75rem;
  font-family: inter;
}
.Perks .form-hom .sters07 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}
.Perks .forms  {
	padding: 2rem 3rem;
  left: 79px;
  position: relative;
}




.forms .button {
  padding: 1rem 3rem 1rem 3rem;
  color: #fff;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-family: '(Font(R.font.poppins))' sans-serif;
  min-width: 80% !important;
  background-color: #FF6C3E;
  border: 1px solid #FF6C3E;
  border-radius: 8px;
  transition: .5s;
}
.forms .button:hover {
  transform: scale(1.1);
  color: #fff;
  margin-left: 0px;
}
#Poppins {
  color: green;
  text-align: center;
  max-width: 80%;
  margin-top: 10px;
  font-size: 1.3rem;
}

.Poppins01 {
  position: absolute;
  right: 0px;
  bottom: -144px;
}

#Poppins1 {
  color: green;
  text-align: center;
  margin-top: 10px;
  font-size: 1.3rem;
}
.Poppins012 {
  position: absolute;
  right: 0px;
  bottom: -15px;
}
#Poppins12 {
  color: green;
  text-align: center;
  margin-top: -10px;
  font-size: 1.3rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 0rem 0rem;
}

.box66 {
	padding-left: 25px;
	display: flex;
	z-index: 2;
  margin: 0.7rem 0px;
  margin-left: 35px;
  margin-top:  0.7rem;
}
.Perks01 {
  margin-left: 5px;
}
.Perks01 h4 {
    font-size: 1.0rem;
    font-weight: 600;
    margin-top: 0px;
    color: #000;
}
.Perks01 p {
	margin-top: -0.3rem;
  color: #666;
  font-size: 14px;
  margin-left: 0.6rem;
}

.box66 .mb {
	margin: .5rem .8rem;
}
.box66 .migs {
  margin-top: -1.5rem;
}








/*  Reviews  section */
.reviews {
	width: 100%;
/*	background-image: linear-gradient(#fff, #f6e8e4, #fff);*/
	background-color: #ffff;
	padding: 0px 0;
  margin-top: -0px;
}


.reviw {
	width: 100%;
	background-image: linear-gradient(#fff, #f6e8e4, #fff);
	margin-top: 20px;
  padding: 0;
}

.Reviews-form {
	font-weight: 600;
  font-size: 1.8rem;
	font-family: '(Font(R.font.poppins))' sans-serif;
}
.reviews h2 .reviewssters {
  position: relative;
  top: -18px;
}
img.img-fluid.image4 {
    margin-top: -38px;
}
.reviews .das {
	position: relative;
  width: 4.375rem;
  height: 2px;
  top: -7px;
  left: 40.2%;
  background-color: #FF6C3E;
}

.reviw .slick-sliderSS {
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
}
.reviw .slick-item {
	margin: 0px;
	width: 385px;
	height: 324px;
	width: 100%;
  z-index: 2;
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid #EBEBEB;
}

.reviw .slick-next {
	display: none !important; ;
	right: 0;
}
.reviw .slick-prev {
	display: none !important; 
	left: 0;
}

.reviw .slick-slider .slick-item,
.reviw .slick-slider .slick-item[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
  transform: scale(0.9, 0.9);
  transition: all 0.4s ease-in-out;
}

/* Active center slide (You can change anything here for cenetr slide)*/
.reviw .slick-slider .slick-center,
.slick-slider .slick-item[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
  transform: scale(1);
}
.reviw .slick-slider .slick-current.slick-active{
  transform: scale(1);
}

.reviw .boxSlider {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 10px;
}
.reviw .boxSlider h3 {
	color: #757575;
	font-size: 16px;
	text-align: left;
	margin-bottom: -54px;
}
.reviw .slick-item .cad {
	position: absolute;
	width: 100%;
	bottom: 5%;
	left: 50%;
	padding: 10px;
	transform: translate(-50%,-10%);
}

.reviw .cad img.card-img-left.example-card-img-responsive {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.card-body h4 {
	font-size: 16px;
	font-weight: 500;
	font-family: '(Font(R.font.poppins))' sans-serif;
	color: #000;
	text-align: left;
  margin-left: 8px;
}

.reviw p {
  margin-top: 0px;
  text-align: left;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  line-height: 0;
}












./*  Product  section */ 
.product .container {
	width: 100%;
	height: auto;
	background-color: #E5E5E5;
	padding: 0px 3px;
}

.card-header .Product {
	margin: 0 15px 0 0px;
}

.Perks .nav-tabs {
    border: 0;
    padding: 15px 5.4rem;
}

.product .productImg {
	position: relative;
  top: 49px;
  z-index: 2;
  left: -24px;
}
.product .das {
	position: absolute;
  width: 4.375rem;
  height: 2px;
  top: 51px;
  left: 13px;
  z-index: 9;
  background-color: #FF6C3E;
}

.product .card {
  display: flex;
  margin-left: 77px;
  padding-bottom: 5rem;
}



.product .home {
  padding-left: 10px;
  object-fit: contain;
  margin-top: 0.3rem;
}

.Organize {
	margin-top: 20px;
	padding-right: 50px;
}

.product .Organizeimg  {
	width: 100%;
	height: 393px;
	object-fit: contain;
}
.productImg {
  opacity: 0;
}
.iconesprofiles {
  padding-left: 10px;
  object-fit: contain;
  margin-top: -0.7rem;
}
.iconesp {
  margin-left: 0.2rem;
}

.product .box67 {
  padding-left: 0px;
  display: flex;
  z-index: 2;
  padding: 0px 0px;
  border-radius: 8px;
  align-content: center;
  align-items: center;
}

.services-slider {
  display: flex;
  width: 100%;
}

.nav-container .slick-current {
   padding-left: 0px;
  display: flex;
  z-index: 2;
  background: #F3F3F3;
  padding: 0px 0px;
  border-radius: 8px;
  align-content: center;
  align-items: center;
  
}
.product .slick-list.draggable {
  padding: 0px !important;
  margin: 0;
}
.slider-main {
  width: 100%;
}

.main-container {
  width: 100%;
  height: auto;
  margin-top: -80px;
  z-index: 99999;
}
.img0099 {
  width: 100%;
  object-fit: contain;
  height: 481px;
  max-width: 100%;
}

.nav-container img {
  max-height: auto;
}

.nav-container .slick-slide {
  max-height: 100px;
  margin-bottom: 18px;
}

.services-slider .slick-track {
  margin-left: 0px;
}

@media (min-width: 1000) {
  .slider-nav {
    display: none !important;
  }
}
.nav-container {
  width: 100%;
  margin: 0 20px 0 0px;
}




















































.product .box68 {
  margin: 0px 0;
  display: flex;
  padding-left: 0px;
    
}

.product .Perks01 {
  padding-left: 10px;
  margin-top: 0px;
}
.product .Perks01 p {
  margin-top: -0.3rem;
  color: #666;
  font-size: 14px;
  margin-left: 10px;
  font-family: inter;
}
.product .sters044 {
	position: relative;
  right: 0px;
  top: 54px;
  float: right;
  z-index: 2;
  transform: rotate(352deg);
}

.overlay {
  display: none;
}

#overlay1, #overlay2 {
  width: 100%;
  position: absolute;
  left: 25%;
  top: 88px;
}

.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


.product .slick-sliders {
  width: 100%;
  margin: 0px 20px 0 0;
  overflow: hidden;
  display: flex;
}
.product .slick-items {
  margin: 0px;
  width: 100%;
  height: auto;
  width: 100%;
  z-index: 2;
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid #EBEBEB;
}

.product .slick-next {
  display: none !important; ;
  right: 0;
}
.product .slick-prev {
  display: none !important; 
  left: 0;
}

.itemsImage {
 position: absolute;
  width: 100%;
  height: auto;
  right: 0%;
  overflow: hidden;
  margin-right: 0;
  margin-top: 0px;
  top: 0%;
/*  width: 100%;*/
  padding: 0;
} 
.itemsImage img {
  position: relative;
  max-width: 42%;
  z-index: 9999999;
  object-fit: cover;
  width: 100%;
  float: right;
  padding-top: 100px;
}

/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


.brecatLeft img, .brecatRight img {
  height: 111px;
  object-fit: cover;
  width: 10px;
}

.OurCharges {
	width: 100%;
	height: auto;
	padding: 4rem 6rem;
	overflow: hidden;
	z-index: 0;
	background-image: linear-gradient(to right, #ffb49c1f , #fff);
/*	box-shadow: 0px 1px 1px #bbbbbb52;*/
  border-top: 1px solid #e8eaec;
  border-bottom: 1px solid #e8eaec;
}
.OurCharges .card .nav-tabs {
    border: 0;
    padding: 0 !important
}

.OurCharges .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff0;
    background-clip: border-box;
    border: none;
    border-radius: 0.25rem;
}

.OurCharges .card-body .containers, .card .card-header {
    padding: 0rem 0rem;
}

.OurCharges .sters055  {
    position: relative;
    top: -73px;
    left: 229px;
    width: 65px;
    object-fit: cover;

}

.OurCharges .Charges {
  padding-top: 14px;
  margin-left: -50px;
  font-size: 2.2rem;
  font-weight: 600;
}
.OurCharges .das {
  position: absolute;
  width: 4.375rem;
  height: 2px;
  top: 106px;
  left: 66px;
  z-index: 9;
  background-color: #FF6C3E;
}

.OurCharges img.sters0555 {
    position: relative;
    width: 35px;
    top: -15px;
}

.bookings h3 {
	margin-top: 32px;
	color: #757575;
	font-size: 1.3rem;
}

.bookingss h3 {
  margin-top: 10px;
  color: #757575;
  font-size: 1.3rem;
}

.OurCharges .text09 h4 {
	color: #757575;
	font-size: 20px;
	margin-top: 28px;	
}
.decorations {
  text-decoration: line-through;
}
.OurCharges .text09 h2 {
	color: #FF6C3E;
    font-size: 42px;
    font-weight: 600;
    margin: 7px 0px 0px 7px;
}
.OurCharges img.img-fluid.Organizeimg {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.OurCharges .text088 h4 {
	color: #757575;
	font-size: 20px;
	margin-top: 28px;	
}
.OurCharges .text019 h4 {
  color: #757575;
  font-size: 20px;
  margin-top: 24px;
}
.OurCharges .text088 h2 {
	color: #FF6C3E;
    font-size: 42px;
    font-weight: 600;
    margin: 7px 0px 0px 7px;
}
.tenants {
  display: flex;
  width: 100%;
  max-width: 100%;
  align-content: center;
  align-items: center;
}

.tenants .text999 {
  text-decoration: line-through;
  font-size: 20px;
  color: #757575;
}

.text011 .text999 {
  text-decoration: line-through;
  font-size: 20px;
  color: #757575;
}
.text011 .text99 {
  color: #FF6C3E;
  font-size: 42px;
  margin: 7px 0px 0px 7px;
  font-weight: 600;
}
.text011 .text18888 {
  font-size: 20px;
  color: #757575;
}
.text092 .monthss {
  margin-top: -11px;
  font-size: 1rem;
}
.brecatRightsss {
  position: relative;
  margin-left: 70px;
}
.text092 p {
  display: flex;
  margin-left: 25px;
  width: 100%;
}
.tenants .text092 .text99 {
  color: #FF6C3E;
  font-size: 42px;
  margin: -21px 0px 0px 7px;
  font-weight: 600;
}

.text092 .monthss {
  margin-top: -21px;
  font-size: 1rem;
  margin-left: 65px;
}
.text092 .text18888 {
  font-size: 20px;
  color: #757575;
  width: 137px;
}



.text0888 p {
  display: flex;
  margin-left: 85px;
  width: 100%;
}
.text0888 .monthss {
  margin-top: -21px;
  font-size: 1rem;
  margin-left: 121px;
}



.nav-item img {
    height: 12px;
    width: 12px;
  }
.tenants .text99 {
  color: #FF6C3E;
  font-size: 42px;
  margin: 7px 0px 0px 7px;
  font-weight: 600;
}

.tenants .text0888 .text99 {
  color: #FF6C3E;
  font-size: 42px;
  margin: -23px 0px 0px 7px;
  font-weight: 600;
}

.tenants .text18888 {
  font-size: 20px;
  color: #757575;
}
.text09 {
  display: flex;
  float: left;
  width: 50%;
  padding-left: 30px;
}
.text088 {
  display: flex;
  float: right;
  width: 50%;
  padding-left: 30px;
}
.text09 h3 {
	display: block;
    position: absolute;
    margin-top: 64px;
    font-size: 1rem;
    margin-left: 3.7rem;
}

.text088 h3 {
	display: block;
    position: absolute;
    margin-top: 64px;
    font-size: 1rem;
    margin-left: 3.4rem;
}
	


.OurCharges .text019 h3 {
	display: block;
    position: absolute;
    margin-top: 60px;
    font-size: 1rem;
    margin-left: 3rem;
	text-align: cenetr;
}
.OurCharges .text019 h2 {
	color: #FF6C3E;
	font-size: 48px;
	font-weight: 600;
	margin: 6px 0px 0px 3px;
}

.OurCharges .text019  h4 {
	color: #757575;
	font-size: 20px;
	margin-top: 24px;	
}

.OurCharges .text-wrapper {
  margin-left: 0px;
  transform: rotate(-180deg);
  font-family: "(Font(R.font.poppins))-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 96px;
  line-height: 82.1px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: 18px;
  letter-spacing: 0;
}

.OurCharges .text-wrapper-6 {
  margin-right: 0px;
  transform: rotate(-180deg);
  font-family: "(Font(R.font.poppins))-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 96px;
  line-height: 82.1px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: 18px;
  letter-spacing: 0;
  right: -0rem;
}
.scene .card__face--front h3 {
    font-size: 0.99rem;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    text-align: left;
    width: 72%;
    color: #757575;
}
.OurCharges .d-flex {
  display: flex;
    margin: 0 0px;
    width: 66%;
    padding-left: 20px;
}
.OurCharges .text019 {
  display: flex;
  margin: 0 0px;
  width: 100%;
  padding: 0 0;
}
.bookings, .bookingss {
    padding-left: 70px;
    margin-top: 30px;
}
.OurCharges .text011 {
  width: 100%;
  display: flex;
  left: 29%;
  position: relative;
}

.cardsbody {
  margin-top: -30px;
}
















/*  Product  section */ 

.FAQS-SECTIONS {
	width: 100%;
	height: auto;
	padding: 3.130rem 0;
	background-color: #fff;

}
.FAQS-SECTIONS .FAQS-text {
	text-align: cenetr;
  font-weight: 600;	
  font-family: Poppins;
}

.FAQS-SECTIONS .cadhover {
	width: 100%;
	display: flex;
	margin-top: 30px;
}
.FAQS-SECTIONS .cadhovers {
  width: 100%;
  display: flex;
  margin-top: -65px;
}
.Box {
  position: relative;
  width: 100%;
  min-height: 206px;
  transform-style: preserve-3d;
  perspective: 800px;
  transition: 1s;
  margin: 0 20px;
}

/*CSS za onClick image flip*/
.scene {
  display: inline-block;
  width: 100%;
  max-height: 260px;
  margin: 40px 0;
  perspective: 600px;
}

.scene .card {
  position: relative;
  width: 100%;
  min-height: 206px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.scene  .card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.scene  .card__face {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  height: auto;
  overflow: hidden;
}

.scene  .card__face--front {
  background-color: #fff;
  border: 2px solid #E5E7EB;
  border-radius: 10px;
  height: 206px;
}
.card__face.card__face--front.front:hover, .card__face.card__face--front.Front:hover {
  border: 2px solid #000;
  color: #000 !important;
}

.card__face.card__face--front.Front:hover h3 {
  color: #000 !important;
}
.card__face.card__face--front.front:hover  h3{
  color: #000 !important;
}
.scene  .card__face--back {
  background-color: #FFF8F5;
  border: 2px solid #FF6C3E;
  border-radius: 10px;
  transform: rotateY(180deg);
  height: 200px;
  overflow: auto;
  padding: 13px 20px;
}
.scene  .card__face--front h3 {
  font-size: 0.99rem;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    text-align: left;
    width: 72%;
}
.scene  .card__face--back h3 {
  font-size: 0.99rem;
    /* position: absolute; */
    left: 2rem;
    bottom: 2rem;
    text-align: left;
    /* width: 72%; */
}



.footer-section {
  background: #FFE3D945;
  position: relative;
  padding: 80px 50px;

}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 0px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14
  px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "(Font(R.font.poppins))", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 40px;
    background: #FF6C3E;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-text {
    margin-top: 0px;
}
.footer-widget ul {
  list-style-type: none;
  padding: 0;
margin-top: -19px;
}

.footer-widget li a {
  display: block;
  width: 100%;
    text-decoration: none;
 color: #878787;
	margin-bottom: 12px;
    font-size: 1.2rem;
}
.footer-logo small {
	color: #FF6C3E;
	font-size: 36px;
}
.footer-logo h3 {
	font-size: 34px;
  width: 243px;
  font-weight: 600;
  line-height: 34px;	
}



.subscribe-form {
	position: relative;
    overflow: hidden;
    padding-right: 197px;
    border-radius: 10px;
}
.subscribe-form input {
  width: 100%;
  padding: 19px 28px;
  background: #fff;
  border: 1px solid #c4c4c4;
  color: #717171;
  border-radius: 10px;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 10px 27px;
  border: 1px solid #ff5e14;
  top: 5px;
  right: 128px;
  color: #fff;
  border-radius: 12px;
  transition: .5s;
  font-size: 1.3rem;
}
.subscribe-form button:hover {
  transform: scale(1.1);
  color: #fff;
  margin-left: 5px;
}


/*  Form page section */ 
.indecaters {
  width: 100%;
  height: auto;
  margin-top: 0rem;
  padding: 90px 0px 0px;
  z-index: 1;
}
.indecaters .bacImg {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 500px;
  top: 0px;
  left: 0;
  background-image: url('..//images/Ellipse20.png');
  background-repeat: no-repeat;
  background-size: revert-layer;
  z-index: -1;
}
.indecaters .container .das2 {
  position: relative;
  width: 2.3rem;
  height: 0.1rem;
  top: 12px;
  left: 1%;
  margin: 0 4px;
  background-color: #B9B9C3;
}
.indecaters .nav-item label {
  display: flex;
  padding: 0;
  margin: 0 9px 0 0;
}
.form-label span {
  color: #f00;
}
.indecaters .nav-item label small {
  background-color: transparent;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: 6px;
  border: 1px solid #B9B9C3;
  z-index: 999;
}
.indecaters .nav-item .active label small{
  background-color: #FF6C3E;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: 6px;
  border: 1px solid #FF6C3E;
}

/*
.indecaters .nav-item label .active2 small {
  background-color: #FF6C3E;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-top: 5px;
  border: 1px solid #FF6C3E;
}
.indecaters .nav-item label .active3 small {
  background-color: #FF6C3E;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-top: 5px;
  border: 1px solid #FF6C3E;
}*/

.indecaters .nav-item a {
  color: #000;
  text-decoration: underline;
  font-size: 0.95rem;
   text-decoration: none;
}
.indecaters .nav-item a p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 8px;
  font-size: 0.9rem;
}
.indecaters .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff0;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0rem;
  border: none;
}





.fonmDetails {
  width: 100%;
  height: auto;
  margin-top: 0rem;
  padding: 0px 0 200px;
  z-index: 1;
}

.fonmDetails .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff0;
    background-clip: border-box;
    border: none;
    border-radius: 0.25rem;

}
.fonmDetails .container .das2 {
  position: relative;
  width: 2.3rem;
  height: 2px;
  top: 12px;
  left: 0%;
  margin: 0 4px;
  background-color: #B9B9C3;
}

.fonmDetails img.img008899 {
  position: relative;
  top: 34px;
  z-index: 2;
  left: -20px;
}

.p9901 input {
  padding: 10px 0 !important;
}
.fonmDetails form {
  margin-top: 0;
  padding-top: 0;
}
.fonmDetails .form-label {
  margin-bottom: 0.5rem;
  font-size: 0.98rem;
  font-weight: 500;
  color: #151515;
  font-family: Inter !important;
}
.fonmDetails .card-body {
  margin-top: 20px;
}
.fonmDetails .becomeheat {
  color: #242731;
  font-size: 2rem;
} 

.fonmDetails .become {
  width: 48%;
  color: #575F6E;
  font-size: 1.2rem;
  padding: 0rem 0 1rem;
}
.fonmDetails .form-control {
  width: 100%;
}


.fonmDetails .form-box {
  position: relative;
  z-index: 99999;
}
.fonmDetails .form-box input {
  margin: 10px 0;
  z-index: 999;
}
.fonmDetails .inputTotal {
  position: absolute;
  width: 100%;
  top: 77%;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  z-index: 1;
}
.Typical .form-label {
  display: block;
  position: absolute;
  margin-top: -30px;
}

.Typical {
  display: flex;
  margin-top: 30px;
  text-align: center;
  z-index: 0;
}
.Typical input {
  margin: 0 5px;
  text-align: center;
}
.fonmDetails .inputAddres {
  position: absolute;
  width: 100%;
  top: 88%;
  padding: 0;
  margin: 0px;
  z-index: 0;
}
.fonmDetails .inputAddresPin {
  position: absolute;
  width: 100%;
  top: 99%;
  padding: 0;
  margin: 0px;
  z-index: 1;
}
.fonmDetails .tab-pane .d-flex label {
  display: inline-block;
  margin: 0 7px;
}
.fonmDetails button {
  position: absolute;
  background: #ff5e14;
  padding: 8px 35px;
  border: 1px solid #ff5e14;
  top: 45px;
  right: 0%;
  color: #fff;
  border-radius: 10px;
  transition: .5s;
  font-size: 1.2rem;
  transition: .5s;s
}
.fonmDetails button .fa {
  font-size: 1rem;
}

.fonmDetails button:hover {
  transform: scale(1.1);
  color: #fff;
  margin-left: 5px;
}


.Amenities {
  display: flex;
  margin: 4px 0px;
}

.Amenities input {
  text-align: center;
 margin: 24px 0px 0;
}
.Amenities .form-label {
  display: block;
  position: absolute;
  margin-top: -4px;
  font-size: 0.98rem;
  font-weight: 500;
  color: #151515;
}
.Amenitiess {
  position: relative;
  display: flex;
  margin: 4px 0px;
  z-index: 99999;
}

.Amenitiess input {
  text-align: center;
 margin: -5px 0px 0;
}
.form-labels {
  display: block;
  position: absolute;
  margin-top: -14px;
  font-size: 0.80rem;
  font-weight: 500;
  color: #151515;
}
.form-labelss {
  display: block;
  position: absolute;
  margin-top: -27px;
  font-size: 0.98rem;
  font-weight: 500;
  color: #151515;
}
.form-labels1 {
  display: block;
  position: absolute;
  margin-top: 2px;
  font-size: 0.98rem;
  font-weight: 500;
  color: #151515;
}
.Water {
  position: relative;
  z-index: 2;
  margin-top: 43px;
  padding: 10px 0;
}
.fonmDetails .Water input {
  margin: 10px 0;
}
.PinCode {
  position: absolute;
  width: 100%;
  top: 62%;
  left: -11px;
}
.ACCnumbers {
  margin-top: 32px;
  z-index: 9999999999999999999;
}

.PinCode55 .form-control {
    width: 100%;
}
.fonmDetails .PinCode551 {
  position: relative;
    margin-top: -32%;
    z-index: 0;
}

.fonmDetails .PinCode552 {
  z-index: 99;
  margin-top: -21%;
  position: relative;
}
.fonmDetails .PinCode553 {
  position: relative;
  margin-top: -10%;
  z-index: 999;
}
.button66 {
  float: right;
}
.fonmDetails .button66 .btn6s {
  position: relative;
  background: #ff5e14;
  padding: 8px 35px;
  border: 1px solid #ff5e14;
  bottom: 10px;
  right: 0%;
  color: #fff;
  border-radius: 10px;
  transition: .5s;
  font-size: 1.2rem;
  transition: .5s;
}
.fonmDetails .button66 .btn6s .fa {
  font-size: 1rem;
}
.fonmDetails .button66 .btn6s:hover {
  transform: scale(1.1);
  color: #fff;
  margin-left: 5px;
}


#image005 .container-flued {
  width: 100%;
  height: auto;
  background-color: #ffff;
  padding: 5rem 0;
}














